// Colors
$color-white: #e8e8e8;
$color-primary: #030470;
$color-primary-hover: #040681;
$color-aqua: #8BC0FF;

// Breakpoints
$breakpoint1680: 1679.98 + px;
$breakpoint1450: 1449.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint420: 419.98 + px;

// Fonts
$fontMain: 'Inconsolata', sans-serif;

// Box shadows
$shadow-sm: 8px 8px 0px rgba(3, 4, 73, 0.85);
$shadow-md: 12px 12px 0px rgba(3, 4, 73, 0.85);
$shadow-xl: 16px 16px 0px rgba(3, 4, 73, 0.85);